<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title135>qUẢN LÝ HỌC SINH CHO MƯỢN SÁCH</title135>
</head>
<body>
    <div class="wrapper135">
        <div class="school135">
            <h2 class="school__header135"> THƯ VIỆN</h2>
            <h2>TRƯỜNG TIỂU HỌC PHONG THẠNH TÂY A</h2>
        </div>

        <div class="title135">
            <h1 class="title__wrap135">
                <img class="img" src="https://png.pngtree.com/png-vector/20220701/ourmid/pngtree-education-book-logo-template-vector-illustration-design-png-image_5405269.png" alt="" >
                QUẢN LÝ CHO HỌC SINH MƯỢN SÁCH
            </h1>
            <div class="date">
                <span class="text">
                    <div class="text_1">
                        Quy định
                    </div>
                    <div class="text_2">
ngày quá hạn
                    </div>
                </span>
                <div class="number">3</div>
            </div>
        </div>
        <div class="table">
            <table>
                <tr>
                  <th>TT</th>
                  <th>STT</th>
                  <th>Mã HS</th>
                  <th>Họ và Tên</th>
                  <th>Lớp</th>
                  <th>Mã sách</th>
                  <th>Tên sách</th>
                  <th>Tên tác giả</th>
                  <th>Tủ sách</th>
                  <th>Số BM</th>
                  <th>Ngày mượn</th>
                  <th>Ngày trả</th>
                  <th>Số ngày</th>
                  <th>Ghi chú</th>
                </tr>
                <tr>
                        <td></td>
                        <td>1</td>
                        <td>3b045</td>
                        <td>Lê Hồng Ni</td>
                        <td>3B</td>
                        <td>TN0166</td>
                        <td>Vệ sinh ăn uống và giấc ngủ</td>
                        <td>Thái Quang Sa dịch</td>
                        <td>Thiếu nhi</td>
                        <td>1442</td>
                        <td>18/09/2017</td>
                        <td>21/09/2017</td>
                        <td>3</td>
                        <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>3b045</td>
                    <td>Lê Hồng Ni</td>
                    <td>3B</td>
                    <td>TN0166</td>
                    <td>Vệ sinh ăn uống và giấc ngủ</td>
                    <td>Thái Quang Sa dịch</td>
                    <td>Thiếu nhi</td>
                    <td>1442</td>
                    <td>18/09/2017</td>
                    <td>21/09/2017</td>
                    <td>3</td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>3b045</td>
                <td>Lê Hồng Ni</td>
                <td>3B</td>
                <td>TN0166</td>
                <td>Vệ sinh ăn uống và giấc ngủ</td>
                <td>Thái Quang Sa dịch</td>
                <td>Thiếu nhi</td>
                <td>1442</td>
                <td>18/09/2017</td>
                <td>21/09/2017</td>
                <td>3</td>
                <td></td>

        </tr>
        <tr>
            <td></td>
            <td>4</td>
            <td>3b045</td>
            <td>Lê Hồng Ni</td>
            <td>3B</td>
            <td>TN0166</td>
            <td>Vệ sinh ăn uống và giấc ngủ</td>
            <td>Thái Quang Sa dịch</td>
            <td>Thiếu nhi</td>
            <td>1442</td>
            <td>18/09/2017</td>
            <td>21/09/2017</td>
            <td>3</td>
            <td></td>
    </tr>

              </table>
        </div>
</div>
</body>
</html>
